/*basic styles*/


/*basic styles*/



@font-face {
  font-family: Myriad Pro;
  src: url('../fonts/MYRIADPRO-REGULAR.otf');
}

.p{
  font-family:Myriad Pro;
}


ul{
  list-style-image:url('../images/List_Ellipse.png');
}



.nav-background{
  background-image:url("../images/Navbar/Background.png");
}

.page-head{
  background-image:url("../images/Pageheader/Menu_Bar.png");
}

.header-stuff{
  background-image:url("../images/Header/Header_Background.png");
}

.menu-pads{
  margin-left:9%;
  padding-top:1%;
  padding-bottom:1%;
}

.icon-pads{
  margin-right:1%;
  padding-bottom:1%;
}


.inline-block{
  display:inline-block;
}

.block{
  display:block;
}

.inline{
  display:inline;
}

.border-left{
  border-left:1px solid transparent;
}

.border-right{
  border-right:1px solid white;
}

.border-all{
  border:1px solid gray;
  border-radius:4px;
  padding:5px;
}

.profile-box{
  width:4em;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}


.col-blue{

  border: 1px solid blue;
  border-radius:4px;

  }

.col-red{

  border: 1px solid red;
  border-radius:4px;

}
