/*basic styles*/


/*basic styles*/

body{
  font-family:"Myriad Pro", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
#social-stream-text{
  font-size:24px;
  color:#fff;
}
#dashboard-text{
  font-size:36px;
  color:#fff;

}
#announcements-title-text{
text-transform:uppercase;
color:#fe7f13;
padding:10px;
}
#announcements-descr-text{
  color:#777777;
  padding:10px;
}
.blue-header{
color:#2498f4;
font-size:32px;
}
.gray-header{

}



#header-background{
  /*background-image:url("../images/Header/Header_Background.png");*/
  background-color:#33cc66;
  border-radius:5px;
  margin:20px;
  padding:10px;
}



/*sprites for dash*/

.Icon_Analytics_Selected, .Icon_Customers_Selected, .Icon_Dashboard_Selected, .Icon_Messages_Selected, .Icon_Page_Creator_Selected, .Icon_Promotions_Selected, .Icon_Analytics, .Icon_Customers, .Icon_Dashboard, .Icon_Messages, .Icon_Page-Creator, .Icon_Promotions{
  background: url("../images/Navbar/sprites.png") no-repeat;
}

.Icon_Dashboard{
  background-image: url("../images/Navbar/Icon_Dashboard.png");
  /*background-position: 0 -259px ;
  width: 58px;
  height: 58px;
  display:block;*/
}

.Icon_Dashboard:hover{
  background-image: url("../images/Navbar/Icon_Dashboard_Selected.png");
  /*background-position: -80px -256px ;
  width: 58px;
  height: 58px;
  display:block;*/
}

.Icon_Analytics{
  background-position: -3px -389px ;
  width: 42px;
  height: 50px;
}

.Icon_Analytics:hover{
  background-position: -79px -386px ;
  width: 42px;
  height: 50px;
}

.Icon_Customers{
  background-position: 0 -206px ;
  width: 62px;
  height: 42px;
}

.Icon_Customers:hover{
  background-position: -80px -204px ;
  width: 62px;
  height: 42px;
}


.Icon_Messages{
  background-position: 0 -156px ;
  width: 57px;
  height: 48px;
}

.Icon_Messages:hover{
  background-position: -84px -156px ;
  width: 57px;
  height: 48px;
}

.Icon_Page-Creator{
  background-position: -3px -99px ;
  width: 45px;
  height: 50px;
}


.Icon_Page-Creator:hover{
  background-position: -86px -100px ;
  width: 45px;
  height: 50px;
}

.Icon_Promotions{
  background-position: -7px -327px ;
  width: 50px;
  height: 50px;
}

.Icon_Promotions:hover{
  background-position: -86px -325px ;
  width: 50px;
  height: 50px;

}


/*end sprites for dash*/


.social-list{
  list-style-type:none;
  margin:0;
  padding:0;
  }

  /*TASKS*/

.tasks-ul{
  list-style-type:none;
  padding-left:0 !important;
}
.list-num{
  margin-bottom:20%;
}
.list-text{
  font-size:21px;
  color:#2498f3;
  padding-left:5%;
}
.circle {
  width: 25px;
  height: 25px;
  background:#32cc66;
  font-size:18px;
  color:#fff;
  text-align:center;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}


.nav-background{
  background-image:url("../images/Navbar/Background.png");
}

.page-head{
  background-image:url("../images/Pageheader/Menu_Bar.png");
}


.menu-pads{
  margin-left:9%;
  padding-top:1%;
  padding-bottom:1%;
}

.icon-pads{
  margin-right:1%;
  padding-bottom:1%;
}


.inline-block{
  display:inline-block;
}

.block{
  display:block;
}

.inline{
  display:inline;
}

.border-left{
  border-left:1px solid transparent;
}

.border-right{
  border-right:1px solid gray;

}

.border-all{
  border:1px solid gray;
  border-radius:4px;
  padding:5px;
}

.profile-box{
  width:4em;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.no-margins{
  margin:0;
}

.no-margs-no-pads{
  margin:0;
  padding:0;
}

.width-hundred{
  width:100%;
}

.col-blue{

  border: 1px solid blue;
  border-radius:4px;

  }

.col-red{

  border: 1px solid red;
  border-radius:4px;

}
