/*basic styles*/

body{
  font-family:"Myriad Pro", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  cursor:default;
}
a:hover{
  cursor:pointer;
}
a{
  text-decoration:none;
  color:black;
}



/*PAGE HEADER*/
#social-stream-text{
  font-size:24px;
  color:#fff;
}
#mini-menu-text{
  color:#fff;
  font-size:1em;
}


/*NAVIGATION*/
.high-nav{
  padding-right:5%;
}
.high-nav-div{
  margin-left:30%;
}
/*DASHBOARD HEADER*/
#dashboard-text{
  font-size:36px;
  color:#fff;
}
#header-background{
  background-color:#33cc66;
  border-radius:5px;
  margin:20px;
  padding:10px;
}

/*ANNOUNCEMENTS*/
#announcements-title-text{
text-transform:uppercase;
color:#fe7f13;
padding:10px;
}
#announcements-descr-text{
  color:#777777;
  padding:10px;
}
.announce-arrows{
  width:30px;
  height:30px;
}
.dropdown-carrot{
  width:1.5em;
  height:1.5em;
}

/*TASKS*/

p.active-state:hover{
  color:#cccccc;
}

}
.mini-gear-pads{
  margin-left:11em;
}

.blue-header{
  color:#2498f4;
  font-size:32px;
}

.horizontalize-ul{
  list-style-type:none;
  padding-left:0 !important;
}
.list-num{
  margin-bottom:20%;
}
.list-text{
  font-size:21px;
  color:#2498f3;
  padding-left:5%;
}
.list-padding{
  padding:3%;
}
.circle {
  width: 25px;
  height: 25px;
  background:#32cc66;
  font-size:18px;
  color:#fff;
  text-align:center;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/*sprites*/
.Profile_Clicked, .Profile{
  background: url(../images/Tasks/sprites.png) no-repeat;
}

.Profile:active{
  background-position: -50px 0;
  width: 20px;
  height: 20px;
  display:block;
}

.Profile{
  background-position: 0 0;
  width: 20px;
  height: 20px;
  display:block;
}


/*ANALYTICS*/

.gray-header{
  font-size:14px;
  color:#777777;
}

.social-list{
  list-style-type:none;
  margin:0;
  padding:0;
}

.fb-lister{
  background-color:#114570;
  color:#fff;
  padding:.3em;
  border-radius:5px;
}

.twit-lister{
  background-color:#2298f4;
  color:#fff;
  padding:.3em;
  border-radius:5px;
}

.four-lister{
  background-color:#3a599b;
  color:#fff;
  padding:.3em;
  border-radius:5px;
}

.gplus-lister{
  background-color:#31cc66;
  color:#fff;
  padding:.3em;
  border-radius:5px;
}
/*RECOMMENDATIONS*/
.list-text-recs{
  font-size:16px;
  color:#777777;
}
.rec-sub-text{
  color:#777777;
  font-size:10px;
  margin-left:3em;
}
.icon-margin{
  margin-right:10px;
}
.rec-height{
  height:750pxpx;
}

/*CONTACTS AND CUSTOMERS*/
.contact-cust-box{
  background-color:white;
  min-height:210px;
  width:250px;
  margin-top:50px;
  border-radius:3px;
  position:relative;

  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.56);
  -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.56);
  box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.56);
}

.profile-icon{
  margin-left:35%;
  position:absolute;
  margin-top:-10%;
}

.profile-banner{
  background-color:#2498f4;
  margin:20% 15% 15% 0;
  width:250px;
  z-index:5;
  position:absolute;
}

.banner-left{
  position:absolute;
  margin:25% 2% 2% -5%;
  z-index:100;
}
.banner-right{
  position:absolute;
  margin:25% 2% 2% 100%;
  z-index:100;
  }
.contact-chart{
  position:absolute;
  margin:50% 10% 20% 10%;
}

#contact-box-header{
  text-transform:uppercase;
  color:#fff;
  font-size:21px;
  text-align:center;
}

#contact-box-sub{
  text-transform:uppercase;
  color:#fff;
  font-size:11px;
  text-align:center;
}

/*DID YOU KNOW*/

#did-you-know{
  background-color:#2498f4;
  border-radius:3px;
  padding:28px;
  margin-top:-2%;
  margin-bottom:10%;
  position:relative;

}

.did-arrow-left{
top:30%;
left:0;
position:absolute;
}

.did-arrow-right{
  top: 30%;
  left: 97%;
  position:absolute;
}

#did-you-know-header{
  font-size:13px;
  text-transform:uppercase;
  color:#fff;
}

#did-you-know-body{
font-size:15px;
color:#fff;
}

/*ADS*/
.ad-background{
  background-color:#2498f4;
}
.ad1{
  background-image:url(../images/Ads/Ad_1.png);
  background-repeat:no-repeat;
  height:150px;
  width:280px;
  margin:30px;
  border-radius:5px;
  background-color:#fff;
}
.ad2{
  background-image:url(../images/Ads/Ad_2.png);
  background-repeat:no-repeat;
  height:150px;
  width:280px;
  margin:30px;
  border-radius:5px;
  background-color:#fff;
}

.ad3{
  background-image:url(../images/Ads/Ad_3.png);
  background-repeat:no-repeat;
  height:150px;
  width:280px;
  margin:30px;
  border-radius:5px;
  background-color:#fff;
}

/*FOOTER*/
.footer-box{
  -webkit-box-shadow: 0px -8px 13px 0px rgba(133,129,133,0.72);
  -moz-box-shadow: 0px -8px 13px 0px rgba(133,129,133,0.72);
  box-shadow: 0px -8px 13px 0px rgba(133,129,133,0.72);
}
.footer-menu{
  list-style-type:none;
  margin:0;
  padding:0;
  padding-left:0 !important;
  color:#777777;
  height:2em;
}
.footer-pads-li{

}

.nav-background{
  background-image:url("../images/Navbar/Background.png");
}

.page-head{
background-color:#208ee5;
}


.menu-pads{
  margin-left:9%;
  padding-top:1%;
  padding-bottom:1%;
}

.icon-pads{
  margin-right:1%;
  padding-bottom:1%;
}


.inline-block{
  display:inline-block;
}

.block{
  display:block;
}

.inline{
  display:inline;
}

.border-top{
  border-top:1px solid #e9e9e9;
}
.border-left{
  border-left:1px solid #e9e9e9;
}

.border-right{
  border-right:1px solid #e9e9e9;

}

.border-bottom{
  border-bottom:1px solid #e9e9e9;
}

.border-bottom-dotted{
  border-bottom:1px dotted #e9e9e9;
}

.border-all{
  border:1px solid #e9e9e9;
  border-radius:4px;
  padding:5px;
}

.profile-box{
  width:4.2em;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.no-margins{
  margin:0;
}

.no-margs-no-pads{
  margin:0;
  padding:0;
}

.width-hundred{
  width:100%;
}

.col-blue{

  border: 1px solid blue;
  border-radius:4px;

  }

.col-red{

  border: 1px solid red;
  border-radius:4px;

}

/*SPRITES*/

.Icon_Analytics_Selected, .Icon_Analytics, .Icon_Customers_Selected, .Icon_Customers, .Icon_Dashboard_Selected, .Icon_Dashboard, .Icon_Messages_Selected, .Icon_Messages, .Icon_Page_Creator, .Icon_Page_Creator_Selected, .Icon_Promotions_Selected, .Icon_Promotions{
  background: url(../images/Navbar/sprites.png) no-repeat;

}

.Icon_Analytics{
  background-position: -2px -310px ;
  width: 42px;
  height: 50px;
  display:block;
}

.Icon_Analytics:hover{
  background-position: -55px -307px ;
  width: 42px;
  height: 50px;
  display:block;
}

.Icon_Customers{
  background-position: 0 -253px ;
  width: 62px;
  height: 42px;
  display:block;
}

.Icon_Customers:hover{
  background-position: -68px -253px ;
  width: 62px;
  height: 42px;
  display:block;
}

.Icon_Dashboard{
  background-position: -4px -187px ;
  width: 58px;
  height: 58px;
  display:block;
}

.Icon_Dashboard:hover{
  background-position: -69px -188px ;
  width: 58px;
  height: 58px;
  display:block;
}

.Icon_Messages{
  background-position: -1px -128px ;
  width: 57px;
  height: 48px;
  display:block;
}

.Icon_Messages:hover{
  background-position: -71px -128px ;
  width: 57px;
  height: 48px;
  display:block;
}

.Icon_Page_Creator:hover{
  background-position: -6px -62px ;
  width: 45px;
  height: 50px;
  display:block;
}

.Icon_Page_Creator{
  background-position: -61px -61px ;
  width: 45px;
  height: 50px;
  display:block;
}

.Icon_Promotions{
  background-position: -4px 0;
  width: 50px;
  height: 50px;
  display:block;
}

.Icon_Promotions:hover{
  background-position: -63px 0;
  width: 50px;
  height: 50px;
  display:block;
}
