
/*basic styles*/

@font-face {
    font-family: Myriad Pro;
    src: url('fonts/MYRIADPRO-REGULAR');
}

.p{
  font-family:Myriad Pro !important;
}

.col-blue{

  border: 1px solid blue;
  border-radius:4px;
  margin:5px;

  }

.col-red{

  border: 1px solid red;
  border-radius:4px;
  margin:5px;
}
